#panel_pokemon1 {
    width: 1200px;
    background-color: #eeeeee;
}

#panel_info_pokemon1 {
    display: inline-block;
    margin:8px;
    width: 400px;
    height: 400px;
    background-color: #dddddd;
}

#panel_move_pokemon1 {
    display: inline-block;
    margin:8px;
    width: 700px;
    height: 400px;
    background-color: #dddddd;
}

.cell_icon_pokemon {
    width: 52px;
    height: 54px;
    vertical-align: top;
}

.cell_select_pokemon {
    vertical-align: top;
}

.select_pokemon {
    width: 180px;
    height: 20px;
}

select, input {
    font-size: 12px;
}

.select_move {
    height: 20px;
    width: 180px;
}

#icon_pokemon1 {
    background-image: url("../image/pokemon/raging-bolt.png");
    display: inline-block;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    background-position: center;
}

html {
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    font-size: 14px;
    width: 1200px;
}

table {
    border-collapse: collapse;
    border: solid 1px black;
}

th {
    background-color: #eee;
    border: solid 1px black;
}

td {
    border: solid 1px black;
}

#sdtext, #pokemon, #type {
    display: inline-block;
    margin: 6px;
}

#sdtext_textarea {
    resize: vertical;
    border: none;
    outline: none;
}

#pokemon0_icon_cell,
#pokemon1_icon_cell,
#pokemon2_icon_cell,
#pokemon3_icon_cell,
#pokemon4_icon_cell,
#pokemon5_icon_cell,
#pokemon6_icon_cell,
#pokemon7_icon_cell,
#pokemon8_icon_cell,
#pokemon9_icon_cell {
    width: 52px;
    height: 54px;
}

#pokemon0_select_cell,
#pokemon1_select_cell,
#pokemon2_select_cell,
#pokemon3_select_cell,
#pokemon4_select_cell,
#pokemon5_select_cell,
#pokemon6_select_cell,
#pokemon7_select_cell,
#pokemon8_select_cell,
#pokemon9_select_cell {
    width: 210px;
    height: 54px;
}

#pokemon0_select,
#pokemon1_select,
#pokemon2_select,
#pokemon3_select,
#pokemon4_select,
#pokemon5_select,
#pokemon6_select,
#pokemon7_select,
#pokemon8_select,
#pokemon9_select {
    margin: 4px;
    width: 202px;
    height: 24px;
}

.type_icon {
    vertical-align: middle;
    height: 28px;
}

.type_head {
    width: 48px;
    height: 30px;
}

.type_cell {
    text-align: center;
    width: 28px;
}

#type_cons_Normal,
#type_cons_Fire,
#type_cons_Water,
#type_cons_Grass,
#type_cons_Electric,
#type_cons_Ice,
#type_cons_Fighting,
#type_cons_Poison,
#type_cons_Ground,
#type_cons_Flying,
#type_cons_Psychic,
#type_cons_Bug,
#type_cons_Rock,
#type_cons_Ghost,
#type_cons_Dragon,
#type_cons_Dark,
#type_cons_Steel,
#type_cons_Fairy {
    background-color: #ffd1d1;
}

#type_total_table {
    margin-top: 12px;
}
