/* 文字列の選択禁止 */
body {
    user-select: none;
}

/* テキストボックスは選択可能 */
input,
textarea {
    user-select: text;
}

/* フォント */
input,
select,
button {
    font-family: Open Sans;
}

input[type='text'],
.base,
.level,
.current-hp,
.percent-hp {
    padding-left: 4px;
}

.boost {
    margin-left: 6px;
    /* margin-right: 6px; */
}

#customMon {
    /* height: 80px; */
}
.select2-results {
    height: 480px;
    max-height: unset;
}
#spreadName {
    margin-top: 8px;
    margin-bottom: 4px;
}
.header,
.wrapper > p,
.footer,
.panel-body > p,
.panel-heading {
    display: none;
}

#switchTheme {
    display: none;
}

.wrapper {
    margin-top: 16px;
    max-width: 1434px;
    min-width: 1434px;
}
#damageValues {
    cursor: pointer;
    display: block;
}
.title-text {
    height: 26px;
}

.big-text {
    display: flex;
    align-items: center;
    margin: 0;
}
#mainResult {
    cursor: pointer;
    display: none;
}

.pokemon-selector {
    /* display: inline-flex;
    align-items: center; */
}

.panel {
    box-shadow: none;
}

input[type='number'] {
    text-align: right;
    width: 28px !important;
    padding-right: 4px;
}

input[type='tel'] {
    text-align: right;
    width: 28px !important;
    padding-right: 4px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.total {
    display: block;
    width: 28px;
    text-align: right;
}
.ev-total {
    text-align: right;
    padding-right: 10px;
}

.ev-left {
    text-align: right;
}

.field-info {
    width: 320px;
}

.poke-info {
    width: 370px;
}

.btn-tera,
.btn-max,
.btn-transform {
    margin: 0px 0px 0px 0px;
    height: 12px;
    border-radius: 4px;
    line-height: 13px;
    width: 58px !important;
}

.set-selector {
    /* width: 200px; */
}

.btn-xxsmall {
    /* height: 18px;
    vertical-align: middle;
    font-size: 9px; */
}

.only-csutom {
    display: none;
    margin-top: 2px"
    /* display: none !important; */
}

.caption {
    font-size: 0.8em;
    /* font-size: 10px; */
    margin-top: 4px;
}

.btn-boost {
    height: 20px;
    width: 18px;
    vertical-align: middle;
    font-size: 9px;
}

.stats-info label {
    width: 44px;
}

.btn-item {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: 0;
    height: 30px !important;
    width: 35px !important;
}

.ev-range {
    width: 100px;
}

.btn-level {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 35px !important;
}

.btn-rank {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 18px !important;
    height: 18px !important;
    font-size: 10px;
    vertical-align: text-bottom;
}

.info-group {
    margin: 8px 0px 10px 0px;
}

.btn-nature {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 26px !important;
    height: 20px !important;
}

.mods {
    width: 40px;
    text-align: right
}

.setCalc {
    width: 96% !important;
}

.btn-aurora-veil {
    /* width: 100px; */
}

#version {
    display: flex;
    margin-left: auto;
    align-items: end;
    font-size: 12px;
    color: gray;
}

button {
    border-radius: 2px;
    border: solid 1px gray;
    background-color: #efefef;
    color: black;
}

button:hover {
    background-color: #e5e5e5;
}

select {
    border-radius: 2px;
    border: solid 1px gray;
    color: black;
}

.crit-btn {
    border-radius: 2px;
    height: 11px;
}

input[type="text"],
input[type="number"] {
    border-radius: 2px;
    border: solid 1px gray;
}

#header {
    display: flex;
}

.tera-radio {
    display: none;
}

.tera-label {
    cursor: pointer;
    display: inline-block;
    width: 26px !important;
}

.tera-label img {
    width: 22px;
}

.tera-radio + label img {
    border: 1px solid gray;
    border-radius: 2px;
    opacity: 0.3;
    /* transition: 0.3s; */
}

.tera-radio:checked + label img {
    border: 1px solid black;
    opacity: 1;
}

.btn-ev {
    font-size: 12px;
}

#capture {
    text-align: right;
    position: absolute;
    /* width: 1336px; */
    width: 1420px;
    margin-top: 10px;
}