.pokemon-sprite {
}

.item-sprite {
    height: 20px;
    width: 20px;
}

.tera-sprite {
    height: 20px;
    width: 20px;
}

#itemSpriteL,
#itemSpriteR,
#itemSpriteL2,
#itemSpriteR2 {
    margin-top: 8px;
    margin-bottom: 2px;
}

#teraSpriteL,
#teraSpriteR,
#teraSpriteL2,
#teraSpriteR2 {
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 8px;
}

.tera-sprite {
    height: 20px;
    width: 20px;
}

.pokemon-selector > .select2-container {
    margin-top: 4px;
}

.tera-icon {
    height: 22px;
    width: 22px;
    margin: 2px 2px 0px 0px;
    filter: grayscale(90%);
}
